<html>
    <head>
    </head>
    <body>
        <div id="content">
            {{data}}

            <form>
                <textarea class="js-message-input" name="message">

                </textarea>
            </form>
        </div>
        
        <script type="text/javascript" src="{{STATIC_URL}}/bundle.js"></script>
    </body>
</html>
